 h2 {
    color: #87c9da;
    font-size: 24px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

body {
    background-color: #060f17 !important;
}


p {
    color:  #3f5c69;
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

#parrafo1, #parrafo2 {
    color: #3f5c69;
    font-size: 24px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.card-body {
    padding-left: 20px; /* Ajusta el valor según necesites */
}

.flechas {
    color: #87c9da;
}
.video {
    text-align: center;
}
.tabla-contenedor {
    text-align: center;
  }

  .tabla-estilizada {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
  }

  .tabla-estilizada th, .tabla-estilizada td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }

  .tabla-estilizada th {
    background-color: #87c9da;
  }

  .tabla-estilizada td {
    background-color: #3f5c69;
    color: #fff;
  }

  .tabla-estilizada tr:nth-child(even) td {
    background-color: #2c4a59;
  }